body {
    background-color: black;
    color: red;
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: 1000;
}

a {
    color: green;
    font-family: Impact, serif;
    font-size: 30px;
    font-weight: 1000;
}   


